IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DS')
BEGIN
CREATE DATABASE [DS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DS', FILENAME = N'@localDBFolder@\DS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 51200KB ) 
 LOG ON 
( NAME = N'DS_log', FILENAME = N'@localDBFolder@\DS_log.ldf' , SIZE = 512KB , MAXSIZE = 2048GB , FILEGROWTH = 10%) 
 
 COLLATE SQL_Latin1_General_CP1_CI_AS
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
