IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'EDW')
BEGIN
CREATE DATABASE [EDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EDW', FILENAME = N'@localDBFolder@\EDW.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 51200KB ) 
 LOG ON 
( NAME = N'EDW_log', FILENAME = N'@localDBFolder@\EDW_log.ldf' , SIZE = 512KB , MAXSIZE = 2048GB , FILEGROWTH = 10%) 
 
 COLLATE SQL_Latin1_General_CP1_CI_AS
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
